In [2]:
#Comments and basic data types
""" DATA TYPES 
Integer 5 (whole numbers)
Float 5.7 (decimals)
Boolean True/False
String "characters within quotes"
"""
print("There's a snake in my boot!")
type("There's a snake in my boot!")

There's a snake in my boot!

str

In [3]:
a = 34.5
type(a)

float

In [5]:
Buses_are_large = True
type(Buses_are_large)

bool

In [6]:
print(a,Buses_are_large) #printing multiple items

34.5 True

In [8]:
print(a,",",Buses_are_large)

34.5 , True

In [10]:
name = "Hannah"
fav_number = 66
print(name, fav_number)

Hannah 66

In [12]:
a = 3
b= -5
print(a+b) #using two variables to create another variable

-2

In [13]:
result = a + b
print(result)

-2

In [16]:
#adding, deleting, multiplying, dividing from a variable 
result += 1 #the same as result = result +1
print (result)

1

In [17]:
result *= a #same as result * a
print(result)

3

In [18]:
x = 3
y = 10
result = x*y
print(result)

30

In [19]:
Area = 245.54*13.66
print(Area)

3354.0764

In [20]:
#Working with strings

In [23]:
Firstname = "Han" 
Lastname = "Solo"
fullname = Firstname + " "+Lastname
print(fullname)

Han Solo

In [38]:
"""
.format() 
injecting variables using the format method -> insert data into {}
IMPORTANT
"""
Firstname = "Han"
print("Hello {}, you are {}".format(Firstname,"cool"))

Hello Han, you are cool

In [27]:
#f strings - putting f infront of the string allows you to inject values directly inline
name = "bruce"
print(f"Hello {name}")

Hello bruce

In [28]:
#INDEXING -remember indexing starts at 0 
word = "hello"
print(word[0])
print(word[1])
print(word[4])

h
e
o

In [33]:
"""
String slicing -taking only parts of the variable 
 variable_name[ start : stop : step ]
"""
print(word[0:2])
print(word[0:5:2]) #step is printing every second value from 0-5

he
hlo

In [68]:
word = "Hello"
print(word[::-1]) 
print(word[4::-1]) #leaving the stop blank will print all elements 
print(word[4:0:-1]) #4-0 stop printing at that point (0), so the 0 element is not included

olleH
olleH
olle

In [35]:
a = 23
frogs = True
name = "John"
print("{} {} {} {}".format(a,"4.5",frogs,name))

23 4.5 True John

In [37]:
print("{}'s favourite sport is {}".format("Hannah", "hockey"))
print("{} is working on programming!".format("Hannah"))

Hannah's favourite sport is hockey
Hannah is working on programming!

In [41]:
# .title()
# using the title method to capitalize a string
name = "hannah"
print(name.title())
print(name.lower())
print(name.upper())

Hannah
hannah
HANNAH

In [43]:
#.replace 
#Find and replace tool e.g. replacing ! with .
words = "I love this so much!"
print(words.replace("!","."))

I love this so much.

In [44]:
print(words)
print(words.replace("!","."))
words = words.replace("!",".")

I love this so much!
I love this so much.

In [45]:
print(words)

I love this so much.

In [48]:
print(words.replace("love", "hate"))

#can't find and replace multiple variables in the same argument??

I hate this so much.

In [49]:
# finding the starting index of our searched term
s = "Look over that way"
print( s.find("over") )

5

In [74]:
#.strip function 
# to remove characters on left and right hand side of string
name = " jeremy "
print(name.strip())
print(name.lstrip())
print(name.rstrip())

jeremy
jeremy
 jeremy

In [75]:
# converting a string into a list of words
s = "These words are separated by spaces"
print( s.split(" ") )

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [77]:
name = "Hannah"
print(name.upper)

<built-in method upper of str object at 0x000002BEA4AE2670>